
div.rosters {
   z-index: 1;
   position: absolute;
   left: 8px;
   top: 35px;
   border-width: 0px;
   border-color: #000000;
   border-style: none;
   overflow: auto;
}

td.rphead {
   font-family: Verdana;
   font-size: 8pt;
   font-weight: bold;
	white-space: pre-wrap;
   color: #000000;
}

td.rpcell0 {
   font-family: Verdana;
   font-size: 8pt;
   color: #000000;
   white-space: nowrap;
   padding: 2px;
}

td.rpcell1 {
   font-family: Verdana;
   font-size: 8pt;
   color: #ff0000;
   white-space: nowrap;
   padding: 2px;
}

table.rtable {
   border: 1px solid black;
   width: 234px;
   border-width: 1px;
   border-spacing: 2px;
   border-style: outset;
   border-color: gray;
   border-collapse: collapse;
   background-color: white;
}

