
th.archive {
   font-family: Verdana;
   font-size: 12pt;
   font-weight: bold;
   text-align: center;
   color: #000000;
   background-color: #ffffaa;
   border-color: #000000 #666666;
   border-width: 1px;
   border-style: solid;
   padding: 0px;
}

td.archive {
   font-family: Arial;
   font-size: 11.5pt;
   font-weight: bold;
   text-align: left;
   color: #000000;
   background-color: #cccccc;
   border-color: #000000 #666666;
   border-width: 1px;
   border-style: solid;
   padding: 0px;
}

div.div1 {
   z-index: 1;
   position: absolute;
   left: 20px;
   top: 14px;
   border-width: 0px;
   border-color: #000000;
   border-style: none;
   overflow: auto;
}

div.div2 {
   z-index: 1;
   position: absolute;
   left: 360px;
   top: 14px;
   border-width: 0px;
   border-color: #000000;
   border-style: none;
   overflow: auto;
}

div.div3 {
   z-index: 1;
   position: absolute;
   left: 20px;
   top: 160px;
   border-width: 0px;
   border-color: #000000;
   border-style: none;
   overflow: auto;
}

div.legend {
   z-index: 1;
   position: absolute;
   left: 380px;
   top: 150px;
   border-width: 0px;
   border-color: #000000;
   border-style: none;
   overflow: auto;
}

